<a href="https://colab.research.google.com/github/MuhammadRafik/prktekpbo/blob/main/14_mei_2b_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ini tentang LIST :List adalah kumpulan data yang bisa diubah.elemen list bisa bertipe apa saja dan bisa bisa diakses menggunakan indeks

In [5]:
buah = ["apel" , "jeruk" ,"mangga"]
#menampilkan elemen pertama
print(buah[0])
#menambah elemen bernama pisang
buah.append("pisang")
print(buah)

apel
pisang

buat list berisi 3 nama temanmu dan tampilkan nama yang ke kedua dari list tersebut.

In [6]:
nama = ["wahyu" , "abdi" ,"madan"]
#tampilkan nama yang kedua
print(nama[1])

abdi

ini tentang dictionary

In [24]:
mahasiswa = {"nama" : "abdi" ,"umur" : 60}
print(mahasiswa["nama"])
mahasiswa["umur"] = 25
print(mahasiswa["umur"])
print("umur : 25")#cara pertama
print("umur :{mahasiswa['umur'']}")
print("umur:",mahasiswa["umur"])

abdi
25
umur : 25
umur :{mahasiswa['umur'']}
umur: 25

ini tentang TUPLE :TUPLE seperti list,tapi tidak bisa diubah setelah dibuat (immpotible)

In [25]:
koordinat = (5, 10)
print(koordinat[1])

10

ini tentang SET : set tidak menerima data duplikat dan tidak punya urutan pasti

In [26]:
angka = {1, 2, 3, 4, 2, 2, 3, 1}
print(angka)

{1, 2, 3, 4}

ini tentang SORT: untuk mengurutkan data dalam list,menggunakan sort() (ubah list asli) atau sorted() (hasil baru).

In [30]:
nilai = [90,70,80,200,100]
nilai.sort()
print(nilai)

[70, 80, 90, 100, 200]